h1{
display: flex;
justify-content: center;
margin-top: 20px;
padding: 5px;
color:black;
}

p{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color:coral ;
    margin-bottom: 5px;
    padding: 5px;
}

.card{
    margin: 5px;
    margin-top: 20px ;
    border: 2px solid rgb(91, 21, 48);
    
}
